@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    scroll-behavior:smooth;  
}
body{
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;  
    background-color: #cf646421;
}
header {
    display: grid;
    background-image: linear-gradient(rgb(206, 32, 32) , rgba(236, 29, 29, 0.878) );
    box-shadow: 0px 2px 10px #4646465b;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    z-index: 998;
    top:0; 
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo1{
    display: flex;
    width: 124px;
    align-items: center;
}
.logo2{
    display:none;
}
.logo1 img{
    width: 100%;
    transition: 0.5s ease-in-out;
}
.logo1:hover img{
    transform: scale(1.10);
}   

.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.nav-list li a{
    padding: 10px;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
}
.nav-list li a:hover{  
    color: #f00;
    background-color: #ffffff;
}
.login-button-1{
    display: flex;
    align-items: center;
}
.login-button-1 button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
}
.login-button-2 button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
}
.login-button-1 button a {
    text-decoration: none;
    color:#f00;
    font-weight: 500;
    font-size: 1.1rem;
    font-family:'Inter','Courier New', Courier, monospace;
}
.login-button-1 button{
    transition: 0.5s ease-in-out;
}
.login-button-1 button:hover{
    transform: scale(1.10);
}
.login-button-2 button a {
    text-decoration: none;
    color: #f00;
    font-weight: 500;
    font-size: 1.1rem;
    font-family:'Inter','Courier New', Courier, monospace;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
  /* Carrosel 1 */
#carrossel img{
	width:100%;
    height:35vw;
	border-radius:8px;	  
}	  
 #carrossel{  
    margin: auto;
    margin-top: 200px;
    width:90%;
    height:auto;  
}	 
    /* -------------------CARROSEL KAUE-------------------- */
.produtos_recom{
    display: flex;
    width: 210px;
    height: auto;
    background-color: #FF8900;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin:30px 0 10px ;
}
#produtos_rec{
    display: grid;
    scroll-margin-top:130px;
}
#servic__{
    scroll-margin-top: 128px;
}
.swiper {  
    width: 90%;
    height: 439px;
} 
    /* cards. Display block para o texto não ficar do lado da imagem*/
.swiper-slide { 
    display: block;
    width: 200px;
    height: 347px;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    margin-right: 15px; 
    cursor: grab;
    border-radius: 6px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0px 0PX 5px 2px #2021243b;
}
.swiper-slide:active{
    cursor: grabbing;
}
.swiper-slide:hover{
    border-color: #7a7a7a85;
    box-shadow: rgba(33, 33, 33, 0.2) 0px 10px 10px;
    transition: all 0.5s ease 0s;
}
    /*contaneir img*/
.conimage{ 
    width: max(145px,20vw);
    margin: auto;
    margin-top:30px; 
}
    /*imagem produto*/
.imgpro{
    max-width: 100%;
    height: 100%;  
}
    /*contaneir marca*/
.marca{
    width: 100%;
    }
    /*nome marca*/
.marca_nome{
    display: flex;
    color: #aca8a8;
    font-size:20px;
    font-family: 'Inter','Courier New', Courier, monospace;
    font-weight: 400;
    justify-content: flex-start;     
}   
    /*contaneir produtodo*/
.cprod{
    width: 100%;       
}
    /*nome produtodo*/
.nprod{
    text-align: initial;
    width: 100%;
    font-size: 20px;
    color: #2c2b2b;
    font-family: 'Inter','Courier New', Courier, monospace;
    font-weight: 400;
}
    /*contaneir preço*/
.conpreco{ 
    width: 100%; 
}
    /*preço */
.preco{
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'Inter','Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 30px;   
    color: #303030;
    justify-content: flex-start;      
}
.swiper-slide:hover .conpreco{
    display: none;
}
.swiper-slide:hover .comprar, .comprar:hover{
    display: flex; 
    cursor:pointer;      
}
.comprar{
    display: none;
    width: 100%;
    height: auto;
    font-family: 'Inter','Courier New', Courier, monospace;
    font-weight: 500;
    font-size:20px;
    background-color:#f00;   
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 0px 5px 2px #2021243b;
    justify-content: center;    
}
.espaco {
    display: flex;
    width: 80%;
    height: 32%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
    /*button */
.swiper-button-next, .swiper-button-prev{
    color: #1d0101;
}
    /* BOXES CUPOM */
.promofor h2{      
    text-align: center;
    font-weight: 500; 
}
.promofor h2{
    margin: 30px 0 10px;
    padding-top: 25px;
    font-size: max(15px, 4vh);
    color: #525252;
}
.Group4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-flow:wrap;
    width: 100%;
    height: auto;
    margin: 0 0 30px;
    background-color:#f1b233;
    box-shadow: 1px 1px 6px 1px #68686830;
} 
.box{   
    width: 18%;
    height: auto;
    margin:40px 0 40px 0;
    box-sizing: border-box;
    border-radius: 20px;    
    background-color: aliceblue;  
  }
.imgG4{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px #58585821;
}
.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 90px 0 90px;
  }
.container .card {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    height: 23vw;;
    background: #f37e00;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transition: 0.5s;  
  }
.container .card {
    height: 400px;
    cursor: pointer;
}
.container .card .img-box {
    position: absolute;
    top: 20px;
    width: 15vw;
    height: 15vw;
    background-color:#d9d9d9;
    box-shadow: 1px 1px 6px 1px #50505017;
    border-radius: 50%;
    overflow: hidden;
  }
.container .card .img-box {
    top: -6vw;
    scale: 0.75;
}
.container .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content {
    position: absolute;
    top: 18vw;
    width: 100%;
    height: 45px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
}
.container .card .content {
    top: 130px;
    height: 240px;
}
.container .card .content h2 {
    font-size: 2.8vw;
    color: var(--clr);
}
.container .card .content p {
    color: #333;
    margin-top: 3vw;
}
.container .card .content a:hover {
    opacity: 0.8;
}

  /* CARROSEL AUTOMATICO */
@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
.slider {
    background: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 180px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    height: 100px;
    position:absolute;
    width: 200px;
    z-index: 2;   
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 100%;
}
.slide img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;    
}

    /* FOOTER */
.footer-container{
    bottom: 0;
    background-image: linear-gradient(rgb(206, 32, 32) , rgba(236, 29, 29, 0.878) );
    width: 100%;
    text-align: left;
    padding: 30px;
}
.footer-container .footer-content-1,
.footer-container .footer-content-2,
.footer-container .footer-content-3{
    display: inline-block;
    vertical-align: top;
}
    /* Footer left */
.footer-container .footer-content-1{
    width: 30%;
}
    /*  logo */
.footer-container .footer-content-1 #logo-footer{
    width: 25%;
}
.footer-container h3{
    color:  #fff;
    letter-spacing: 1px;
    font:italic 15px 'Inter', cursive;
    padding: 0px 0px 10px;
}
      /* Footer links */   
      /* Footer content-2 */
.footer-container .footer-content-2{
    width: 35%;
    font-size: 14px;
}
.footer-container .footer-content-2 i{
    color: #fff;
    border: 1px solid white;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 10px;
    vertical-align: middle;
}
.footer-container .footer-content-2 p{
    display: inline-block;
}
.footer-container .footer-content-2 p a{
    color: #ffffff;
    text-decoration: none;
}
      /* Footer content-3 */
.footer-container .footer-content-3{
    width: 30%;
}
.footer-container .footer-empresa{
    line-height: 22px;
    color:  #829990;
    font-size: 14px;
    font-weight: 200;
}
.footer-container .footer-empresa span{
    display: block;
    color:  #fff;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.footer-container .footer-icons .fa{
    background: #fff;
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    color: #3f4a75;
    text-align: center;
    padding: 5px;
    margin: 5px 5px 12px 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 24px;
}
.footer-icons .fa:hover{
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.footer-icons a:nth-child(1) .fa{
    color: #bd0d9f;
}
.footer-icons a:nth-child(2) .fa{
    color: #4581cf;
}
.footer-container .footer-content-3 p{
    color: #ffffff;
    font-size: 13px;
    padding: 10px;
}
.footer-container .copyright{
    width: 100%;
}
.footer-container .copyright p{
    text-align: center;
    color:#ffffff;
    padding: 5px;
    font-size: 12px;
}

#btnTop{
    z-index: 9999;
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 50px;
    height: 50px;
    background:rgba(75, 56, 21, 0.651);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow{
    margin-top: 5px;
    border: solid #e0652b;
    border-width:0 5px 5px 0;
    padding: 7px;
    display: inline-block;
}
.up{
    transform: rotate(-135deg); 
    -webkit-transform: rotate(-135deg);
}
@media (max-width: 600px) { 
#btnTop{
    right: 20px;
    bottom: 90px;
}
}
@media screen and (max-width: 820px) {
.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}  
.mobile-menu.open {
    max-height: 500px; 
}
.logo2{
    display: flex;
    width:  101px;
}  
.logo2 img{
    width: 100%;
    transition: 0.5s ease-in-out;
}
.logo2:active img{
    transform: scale(1.10);
} 
.nav-bar{
    padding: 1.5rem 0.4rem;
    margin-left: 40px;
}
.nav-item, .logo1{
    display: none;
}   
.login-button-1 {
    display: none;
}
.mobile-menu-icon {
    display: block;
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}
.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}
.mobile-menu .login-button-2 {
    display: block;
    padding: 1rem 2rem;
}
.mobile-menu .login-button-2 button {
    width: 100%;
}
.open {
    display: block;
}
#produtos_rec{
    display: grid;
    scroll-margin-top:110px;
}
#servic__{
    scroll-margin-top: 110px;
}
}

@media screen and (max-width: 910px){
.swiper {      
    width: 90%;
    height: 415px;
} 
.swiper-slide{
    width: 500px;
    height: 327px;            
}
.espaco {
    height: 39%;
}
}

@media screen and (max-width: 640px){
.swiper {      
    width: 100%;
    height: 436px;
} 
.swiper-slide{
    width: 100%;
    height: 335px;        
    margin:auto;
    margin-top: 0; 
}
.espaco {
    height: 32%;
}
.conimage {
    width: max(180px,20vw);    
}
}
  
@media screen and (max-width:817px) {
#carrossel img {
    width:100%;
    height:100%;
    border-radius:8px;	  
}  
#carrossel{
    margin: auto;
    margin-top: 150px;
    width:100%;
    height:auto;      
}     
.Group4{
    gap:20px;
}
.box{
    width: 40%;
    margin:0px 0 0px 0;
}  
.box:nth-child(1),.box:nth-child(2) {
    margin-top: 40px;
}
.box:nth-child(3),.box:nth-child(4) {
    margin-bottom: 40px;
} 
}

@media screen and (max-width:600px) {
.Group4{
    gap:15px;
}
.box{
    width: 70%;
    margin:0px 0 0px 0;
}        
.box:nth-child(2){
    margin-top: 0px;
} 
.box:nth-child(3){
    margin-bottom: 0px;
}         
.box:nth-child(4){
    margin-top: 0px;
}
}
@media (max-width: 1050px){
.container{
    flex-wrap: wrap; 
}
.container .card{
    width: 38vw;
    height: 35vw;
}
.container .card .content h2 {
    font-size: 3vw;
}
.container .card .content {
    top: 13vw;
}
.container .card .content p {
    font-size: 2vw;
}
}
  
@media (max-width: 650px) {
.container{
    flex-direction: column;
    align-items: center;
}
.container .card .img-box{
    top: -9vw;
    scale: 0.75;
}
.container .card .img-box{
    width: max(80px, 15vw);
    height: max(80px, 15vw);
}
.container .card .content h2 {
    font-size: max(25px, 3vw);
}
.container .card .content p {
    font-size: max(15px, 1vw); 
}
.container .card {
    width: max(301px , 80vw); 
    height: max(197px , 35vw);   
}
}
     /*footer responsivo*/
@media (max-width: 880px) {
footer{ 
    position: static;
}
.footer-container{padding: 10px;}
.footer-container .footer-content-1,
.footer-container .footer-content-2,
.footer-container .footer-content-3{
    display: block;
    width: 100%;
    text-align: center;
}
.footer-container .footer-content-2 i{
    margin-left: 0;
}
.footer-container h3{
    font-size: 20px;
}
hr{
    margin:0 auto 0;
    width: 70%;
}
}
        
@media (max-width: 1047px) {
.footer-container .footer-content-2 i{
    margin-left: 0px;
}         
}
        
@media (max-width: 360px) {
.footer-container .footer-content-2{
    text-align: left;
}         
}